[mcu]
serial: /dev/ttyAMA0
baud: 250000
restart_method: command
# serial: /dev/serial/by-id/usb-Klipper_lpc1769_07200119A29869AFF714405EC42000F5-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2000 #4000 # 3500
max_accel_to_decel: 1500 # 3500
max_z_velocity: 10
max_z_accel: 60

[fan]
pin: P2.3

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
# step_distance: .0125
rotation_distance: 40
microsteps: 16
endstop_pin: !P1.29
position_endstop: 0
position_max: 208
homing_speed: 20

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
# step_distance: .0125
rotation_distance: 40
microsteps: 16
endstop_pin: !P1.28
position_endstop: -4
position_min: -4
position_max: 216 # 210
homing_speed: 20

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
rotation_distance: 8
microsteps: 16
endstop_pin: !P1.27
position_endstop: 0.170
position_min: -1
position_max: 205
homing_speed: 5

[stepper_z1]
step_pin: P1.15
dir_pin: P1.14
enable_pin: !P1.16
rotation_distance: 8
microsteps: 16
endstop_pin: !P1.25

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
# step_distance: .002410
rotation_distance: 7.712
microsteps: 16
nozzle_diameter: 0.600
filament_diameter: 1.750
pressure_advance: 0.25
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
min_temp: 0
max_temp: 290

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
min_temp: 0
max_temp: 130

[tmc2208 stepper_x]
uart_pin: P1.10
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2208 stepper_y]
uart_pin: P1.9
run_current: 0.900
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2208 stepper_z]
uart_pin: P1.8
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2208 stepper_z1]
uart_pin: P1.1
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2208 extruder]
uart_pin: P1.4
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

[bltouch]
sensor_pin: ^P0.10
control_pin: P2.0
x_offset: 0
y_offset: -55
z_offset: 3.550

[bed_mesh]
speed: 100
horizontal_move_z: 8
mesh_min: 0,2
mesh_max: 200,161
probe_count: 9,9
mesh_pps: 3,3
algorithm: bicubic
bicubic_tension: 0.2

# PLA extruder 204 C / PLA bed 54 C
[extruder]
control: pid
pid_kp: 24.901
pid_ki: 1.383
pid_kd: 112.053

[heater_bed]
control: pid
pid_kp: 72.603
pid_ki: 2.283
pid_kd: 577.196

[input_shaper]
shaper_freq_x: 78.0
shaper_type_x: 3hump_ei
shaper_freq_y: 40.8
shaper_type_y: mzv

[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    100,100,20

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method("set_device_power",
                             device="homeassistant_switch",
                             state="off")}

[delayed_gcode delayed_printer_off]
initial_duration: 0.
gcode:
    POWER_OFF_PRINTER

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(230) %}      #edit to your park position
    {% set y = params.Y|default(230) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{e} F2100
    G1 Z{z_safe}
    G90
    G1 X{x} Y{y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    ##### set defaults #####
    {% set e = params.E|default(1) %} #edit to your retract length
    G91
    G1 E{e} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro DISABLE_STEPPER]
gcode:
    M84 X Y E

# BLTouch Auto-Bed-Mesh-Leveling
[gcode_macro G29]
gcode:
    G28                             # Home the axis
    # M190 S60                        # Heat up the bed
    BED_MESH_CALIBRATE              # Do the auto calibration
    SAVE_CONFIG                     # Save profile in printer.cfg
    # M190 S0                         # Cool down the bed

# Start macro before every print
[gcode_macro START_PRINT]
gcode:
    M190 S60 #S{BED_TEMP}                # Set and wait for bed to reach temperature
    M104 S206 #S{EXTRUDER_TEMP}           # Set extruder temperature
    G28                             # Home
    BED_MESH_PROFILE LOAD=default   # Load bed mesh
    G92 E0                          # Reset extruder
    G1 Z10.0 F3000                  # Move Z up
    M109 S206#S{EXTRUDER_TEMP}           # Wait for Extruder temperature
    PRIME                           # Print prime line

# Print prime line
[gcode_macro PRIME]
gcode:
    G1 X20 Y0.0 Z0.3 F5000.0        # Move to start for purge line
    G1 X175 Y0.0 Z0.3 F800.0 E15    # Draw 1st line
    G1 X175 Y0.5 Z0.3 F5000.0       # Move to side a little
    G1 X20 Y0.5 Z0.3 F800.0 E30     # Draw 2nd line
    G1 X20 Y5 Z0.3 F5000.0          # Move to side a little
    G92 E0                          # Reset extruder

# End macro after every print
[gcode_macro END_PRINT]
gcode:
    G91
    
    # Retract a bit
    G1 E-0.25 F2700
    G1 E-0.25 Z0.2 F2400
    G1 X5 Y5 F3000
    
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    
    G1 Z10 F3000                    # Raise nozzle by 10mm
    G90
    G1 X0 Y200                      # Deliver print
    M84 X Y E                       # Disable steppers

    UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=600 # turn off printer after 10minutes

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.327500, -0.240000, -0.210000, -0.187500, -0.170000, -0.165000, -0.185000, -0.150000, -0.242500
#*# 	  -0.352500, -0.235000, -0.202500, -0.165000, -0.142500, -0.137500, -0.120000, -0.160000, -0.207500
#*# 	  -0.370000, -0.230000, -0.205000, -0.165000, -0.147500, -0.102500, -0.102500, -0.102500, -0.205000
#*# 	  -0.320000, -0.212500, -0.167500, -0.092500, -0.087500, -0.110000, -0.085000, -0.147500, -0.170000
#*# 	  -0.255000, -0.192500, -0.155000, -0.135000, -0.085000, -0.085000, -0.052500, -0.052500, -0.130000
#*# 	  -0.220000, -0.147500, -0.112500, -0.097500, -0.055000, -0.012500, -0.072500, -0.077500, -0.110000
#*# 	  -0.225000, -0.165000, -0.120000, -0.070000, -0.045000, -0.002500, -0.047500, -0.042500, -0.100000
#*# 	  -0.232500, -0.125000, -0.092500, -0.040000, -0.057500, -0.002500, -0.025000, -0.032500, -0.097500
#*# 	  -0.177500, -0.070000, -0.052500, -0.025000, 0.005000, 0.015000, 0.045000, -0.022500, -0.052500
#*# tension = 0.2
#*# min_x = 0.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 3
#*# min_y = 2.0
#*# x_count = 9
#*# max_y = 160.96
#*# mesh_x_pps = 3
#*# max_x = 200.0
